main {
  padding: 1em;
}

.thumb {
  width: 30px;
  height: auto;
}

input.num {
  max-width: 50px;
}

.newDeck {
  color: blue;
  margin-left: .5em; 
}

.newDeck:hover {
  text-decoration: underline;
  cursor: pointer;
}