main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}

main select {
    margin-bottom: 2em;
}

form {
    /* padding: 1em; */
    display: flex;
    flex-direction: column;
}

form input, textarea {
    margin-bottom: 1em;
    font-size: 20px;
}

form button {
    background-color: #88d;
    font-size: 16px;
    padding: .5em;
}

.preview {
    padding: 1em;
}

.card {
    width: 400px;
    min-height: 500px;
    border: 2px solid #222;
    border-radius: 20px;
    padding: 1.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card h1 {
    text-align: center;
}

.card img {
    margin-bottom: 2em;
    width: 300px;
    height: auto;
}

.card p {
    font-size: 20px;
    padding: 0 1em;
}

.text-danger {
    color: red;
}

.active {
  color: white;
}