<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Deck</title>
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/view.css">
</head>
<body>
  <div id="app">
    <nav-links page="view"></nav-links>
    <main>
      <p>Selected Deck: <span>{{selectedDeck.name || 'none'}}</span></p>
  
      <select :change="select()" v-model="selectedDeck">
        <option disabled value="">Select a deck</option>
        <option :value="deck" v-for="deck in decks">{{deck.name}}</option>
      </select>

      <table v-show="deck.length">
        <thead>
          <tr>
            <th>Thumb</th>
            <th colspan="2">Card Name</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="card in deck">
            <td><img class="thumb" :src="card.img"/></td>
            <td>{{card.name}}</td>
            <td>
              <a href="#">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    
  </div>

  <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
  <script src="js/db.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="js/nav.js"></script>
  <script src="js/view.js"></script>
</body>
</html>